<section>

    <div>

        <p>
        Les méthodes de détection utilisées sont principalement la méthode des vitesses radiales, qui
déduit la présence d'une planète à travers l'incidence de son attraction gravitationnelle sur la vitesse
radiale de son étoile, et la méthode du transit, qui identifie une planète lorsque celle -ci passe devant
son étoile enmesurant l'affaiblissement de l'intensité lumineuse de l'astre. Un biais découlant de ces
méthodes a abouti à la détection d'une majorité de planètes aux caractéristiques très différentes de
celles présentes dans le Système solaire, en particulier l'abondance de Jupiter chaud, planètes
gazeuses très proches de leur étoile hôte. Ces nouveaux types de planète ont néanmoins entraîné
une remise en cause radicale des modèles de formation des systèmes planétaires qui avaient été
élaborés en se basant sur le seul Système solaire. Depuis que les méthodes de détection se sont
améliorées, les études8 visent également à mettre en évidence des planètes aux caractéristiques
proches de celles de la Terre orbitant dans la zone habitable de leur étoile.
    </p>

    <img src="images/Polyphemus_and_Pandora.jpeg" alt="Image polyphemus et pandora">

    <p>Image issue de : <a href="https://commons.wikimedia.org/w/index.php?curid=13118474">Droit d'auteurs</a></p>

    </div>

    <div>

        <ul class="couleur">

            {{#each listeExolunes}}

            <li>{{ this.name }}</li>

            {{/each}}

        </ul>

    </div>
    
</section>