<section>

    <div class="maintitle">

    <h1 class="titleText">Classy House<br>Tout pour la maison</h1>
    </div>

<div class="homeDescription">
    <p>
    Classy house est un magasin de décoration intérieur et de rideaux sur mesure, nous avons un vaste catalogue d'objets divers et varié pour que votre maison soit au plus proche de votre univers.
    </p>

    <p>
    Nous sommes situé à Wavre sur le boulevard de l'Europe
    </p>
    <img src="./images/map.png" class="homeMap">
</div>

<hr class="hr">

<div class="homeStats">

<!-- Do not forget to remove the placeholder-->
<p>{{stats.catalog}}<br>Objets de décoration<br>dans notre catalogue</p>
<p>{{stats.commands}}<br>Commandes passées</p>
<p>{{stats.closedTickets}}<br>Problèmes de nos <br>clients résolus</p>

</div>

<hr class="hr">

<h3 class="teamPresentationTitle">Nous sommes le groupe 38</h3>
<div class="teamPresentation">
    <div>
        <img src="/images/homepage/alexis.jpg" alt="Alexis Arnaud">
        <p>Alexis Arnaud</p>
    </div>

    <div>
        <img src="/images/homepage/nicolae.jpg" alt="Nicolae Pastrama">
        <p>Nicolae Pastrama</p>
    </div>

    <div>
        <img src="/images/homepage/arnaud.png" alt="Arnaud Schellekens">
        <p>Arnaud Schellekens</p>
    </div>
</div>


</section>
